#remove html file extension https://http://doingourbit.org.uk/index.html
# to https://http://doingourbit.org.uk/
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC, L]